.root {
  width: 600px;
  color: #f2f2f3;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.list {
  min-height: 100px;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.priceBox {
  display: flex;
  align-items: center;
}

.priceText {
  font-family: Iceland;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 36px;
}

.placeholder {
  box-sizing: border-box;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
  margin-left: 44px;
}

.placeholderTop {
  border-radius: var(--top-constructor-item-border-radius);
}

.placeholderBottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}

.bunWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bunWrap:last-child {
  margin-bottom: 0;
}

.elementFullWidth {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 536px;
}
